* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: white;
}
/* .container{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
} */
.displayOut{
    width: 250px;
    height: 100px;
    text-align: end;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(39, 38, 38);
    color: white;
}
.main{
    background-color: black;
    color: white;
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.btn{
    height: auto;
    width: 50px;
    padding: 22px;
    margin: 5px;
}
